* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #d2c22c;
	--secondary-color: #dedccf;
	--size: 16px;
	--size-md: 25px;
	--size-lg: 41px;
	--size-xl: 67px;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
}

@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

body, body:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
}

body {
	background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
	z-index: 0;
	color: #333;
	font-family: 'Coustard', serif;
	font-size: var(--size);
}

body:before {
	content: '';
	background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
	z-index: 1;
	animation: move-twink-back 200s linear infinite;
}
